snippet impstring "Import c++ string" b
from libcpp.string cimport string
endsnippet

global !p
def first_import():
	b = vim.current.buffer
	index = 0
	for line in b:
		if re.search(r'^(from (\w) )?import \w', line):
			return index
		index += 1

def add_line(line_string, index):
	vim.current.buffer.append(line_string, index)
endglobal

snippet firstimport "Description" b
`!p add_line('hi', 8)`
endsnippet

snippet ffile "For i in file, split" b
for i in ${1:infile}:
	f = i.rstrip().split('${2:\t}')
	$0
endsnippet

snippet longdesc "Long Description" b
"""
============================================================================
${1:
          FILE: ${2:`!v expand('%:t')`}}${3:
           DIR: ${4:`!v expand('%:p:h')`}}${5:
        AUTHOR: Michael D Dacre, mike.dacre@gmail.com}${6:
  ORGANIZATION: Stanford University}${7:
       LICENSE: MIT License, property of Stanford, use as you wish}${8:
       VERSION: ${9:0.1}}
       CREATED: `date +"%Y-%M-%d %H:%m"`
 Last modified: 2016-01-11 13:17 ${10:

   DESCRIPTION: ${11}}${12:

         USAGE: ${13:Import as a module or run as a script}}

============================================================================
"""
endsnippet

snippet desc "Short Docstring" b
"""
       CREATED: `date +"%Y-%M-%d %H:%m"`
 Last modified:

 ${1}
"""
endsnippet

snippet cl "Make a cell from a block of text" b
##
${VISUAL}${1}
##
endsnippet

snippet bamfile
bamfile = subprocess.Popen('samtools view '+BAMFILE, stdout=subprocess.PIPE, shell=True)
for line in bamfile.stdout:
endsnippet

snippet zipped
def open_zipped(infile, mode='r'):
	""" Return file handle of file regardless of zipped or not
	    Text mode enforced for compatibility with python2 """
	${1:import gzip}
	${2:import bz2}
	mode   = mode[0] + 't'
	p2mode = mode
	if hasattr(infile, 'write'):
		return infile
	if isinstance(infile, str):
		if infile.endswith('.gz'):
			return gzip.open(infile, mode)
		if infile.endswith('.bz2'):
			if hasattr(bz2, 'open'):
				return bz2.open(infile, mode)
			else:
				return bz2.BZ2File(infile, p2mode)
		return open(infile, o2mode)
endsnippet

snippet parg "Positional argument" b
	${1:parser}.add_argument('${2:file}'${3:, type=argparse.FileType('${4:r}'),}
	              ${1/./ /g}help="${5:Input file}")
endsnippet

snippet oarg "Optional argument" b
	${1:parser}.add_argument('-${2:v}', '--${3:verbose}'${4:, action="${5:store_true}"},
	              ${1/./ /g}help="${6:Verbose output}")
endsnippet

snippet garg1 "Argument group one member" b
	# ${1:Arguments}
	${2:group} = parser.add_argument_group('${3:Group}')
	$2.add_argument(${4:'-${5:b}', }'${4/.+/--/}${6:bob}',
	              ${2/./ /g}help="${6:Input file, Default STDIN}")
endsnippet

snippet garg2 "Argument group two members" b
	# ${1:Arguments}
	${2:group} = parser.add_argument_group('${3:Group}')
	$2.add_argument(${4:'-${5:b}', }'${4/.+/--/}${6:bob}',
	              ${2/./ /g}help="$7")
	$2.add_argument(${8:'-${9:b}', }'${8/.+/--/}${10:bob}',
	              ${2/./ /g}help="$11")
endsnippet

snippet garg3 "Argument group three members" b
	# ${1:Arguments}
	${2:group} = parser.add_argument_group('${3:Group}')
	$2.add_argument(${4:'-${5:b}', }'${4/.+/--/}${6:bob}',
	              ${2/./ /g}help="$7")
	$2.add_argument(${8:'-${9:b}', }'${8/.+/--/}${10:bob}',
	              ${2/./ /g}help="$11")
	$2.add_argument(${12:'-${13:b}', }'${12/.+/--/}${14:bob}',
	              ${2/./ /g}help="$15")
endsnippet

snippet garg4 "Argument group four members" b
	# ${1:Arguments}
	${2:group} = parser.add_argument_group('${3:Group}')
	$2.add_argument(${4:'-${5:b}', }'${4/.+/--/}${6:bob}',
	              ${2/./ /g}help="$7")
	$2.add_argument(${8:'-${9:b}', }'${8/.+/--/}${10:bob}',
	              ${2/./ /g}help="$11")
	$2.add_argument(${12:'-${13:b}', }'${12/.+/--/}${14:bob}',
	              ${2/./ /g}help="$15")
	$2.add_argument(${16:'-${17:b}', }'${16/.+/--/}${18:bob}',
	              ${2/./ /g}help="$19")
endsnippet

snippet args "General Command Line Arguments"
${1:import argparse
}${2:import sys


}def main(argv=None):
	""" ${3:Run as a script} """
	if not argv:
	    argv = sys.argv[1:]

	parser  = argparse.ArgumentParser(
	    description=__doc__,
	    formatter_class=argparse.RawDescriptionHelpFormatter)
${4:
	# ${5:Positional arguments}
	parser.add_argument('${6:files}'${7:, nargs='+',}
	                    help="${8:Input files}")}
${9:
	# ${10:Optional flags}
	parser.add_argument('-${11:b}', '--${12:bob}'${13:, action="${14:store_true}"},
	                    help="${15:Verbose output}")}
${16:
	# ${17:Optional Files}
	optfiles = parser.add_argument_group('${18:Optional Files}')${19:
	optfiles.add_argument('-${20:i}', '--${21:infile}', default=sys.stdin,
	                      help="${22:Input file, Default STDIN}")}${23:
	optfiles.add_argument('-${24:o}', '--${25:outfile}', default=sys.stdout,
	                      help="${26:Output file, Default STDOUT}")}${27:
	optfiles.add_argument('-l', '--logfile', default=sys.stderr,
	                      help="${28:Log File, Default STDERR (append mode)}")}}

	args = parser.parse_args(argv)

	$0

if __name__ == '__main__' and '__file__' in globals():
	sys.exit(main())
endsnippet

snippet stdarg "Optional positional files" b
${24:import sys
}${25:import argparse
}

def ${20/=[^,)]+|args.//g}:
	""" ${23:Run everything} """
	$0


def main(argv=None):
	""" ${1:Run as a script} """
	if not argv:
	    argv = sys.argv

	parser  = argparse.ArgumentParser(
	    description=__doc__,
	    formatter_class=argparse.RawDescriptionHelpFormatter)${2:

	# Optional arguments
	parser.add_argument('-${3:f}', '--${4:flag}',${5: action='store_true',}
	                    help='${6:A flag}')}

	# Optional files${7:
	parser.add_argument(${8:'-i', }'${8/.+/--/}${9:infile}'${10:, nargs='?'}, default=sys.stdin,
	                    type=argparse.FileType('r'),
	                    help="${11:Input file} (Default: STDIN)")}${12:
	parser.add_argument(${13:'-o', }'${13/.+/--/}${14:outfile}'${15:, nargs='?'}, default=sys.stdout,
	                    type=argparse.FileType('w'),
	                    help="${16:Output file} (Default: STDOUT)")}${17:
	parser.add_argument('-l', '--${18:logfile}', default=sys.stderr,
	                    type=argparse.FileType('a'),
	                    help="${19:Log file} (Default: STDERR)")}

	args = parser.parse_args(argv)

	${20:${21:`!v expand('%:r')`}(${7/.+/args./}$9${7/.+/, /}${12/.+/args./}$14${18/.+/, logfile=args./}$18${2/.+/,
	 /}${22:${21/./ /g}}${2/.+/args./}$4)}

if __name__ == '__main__' and '__file__' in globals():
	sys.exit(main())
endsnippet
