[submodule "pathogensource"]
	path = pathogensource
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/bashsupport"]
	path = bundle/bashsupport
	url = git://github.com/vim-scripts/bash-support.vim.git
[submodule "bundle/perlsupport"]
	path = bundle/perlsupport
	url = git://github.com/vim-scripts/perl-support.vim.git
[submodule "bundle/commenter"]
	path = bundle/commenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/mirell/vim-matchit.git
[submodule "bundle/sessionman"]
	path = bundle/sessionman
	url = git://github.com/vim-scripts/sessionman.vim.git
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = git://github.com/superjudge/tasklist-pathogen.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/pythonmenu"]
	path = bundle/pythonmenu
	url = git://github.com/vim-scripts/python.vim.git
[submodule "bundle/pythonsyntax"]
	path = bundle/pythonsyntax
	url = git://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "bundle/csupport"]
	path = bundle/csupport
	url = git://github.com/vim-scripts/c.vim.git
[submodule "bundle/conque"]
	path = bundle/conque
	url = git://github.com/rson/vim-conque.git
[submodule "bundle/rplugin"]
	path = bundle/rplugin
	url = git://github.com/jcfaria/Vim-R-plugin.git
[submodule "dbext.vim"]
	path = dbext.vim
	url = git://github.com/vim-scripts/dbext.vim.git
[submodule "bundle/dbext"]
	path = bundle/dbext
	url = git://github.com/vim-scripts/dbext.vim.git
[submodule "bundle/pgsql_syntax"]
	path = bundle/pgsql_syntax
	url = git://github.com/exu/pgsql.vim.git
[submodule "bundle/autocomplpopup"]
	path = bundle/autocomplpopup
	url = git://github.com/vim-scripts/AutoComplPop.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = git://github.com/fs111/pydoc.vim.git
[submodule "bundle/pytest"]
	path = bundle/pytest
	url = git://github.com/alfredodeza/pytest.vim.git
[submodule "bundle/pythonmode"]
	path = bundle/pythonmode
	url = git@github.com:MikeDacre/python-mode.git
[submodule "bundle/vimux"]
	path = bundle/vimux
	url = git://github.com/benmills/vimux.git
[submodule "vim-bundle"]
	path = vim-bundle
	url = git://github.com/benmills/vim-bundle.git
